{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">

<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
      <li class="navbar-brand">
        meeb<span style="color: orangered;">[ ]</span>x
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">MESES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'addentry' %}">AÑADIR MES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'comparar' %}">COMPARAR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">ESTADISTICAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">FACTURAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">USUARIOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
      </li>
    </ul>
  </nav>
</div>

{% endblock %}

